body{
	background-color: black;
	width:100%;
}
#topobg{
	width: 73%;
	height: 25%;
	margin: auto;
	background-color: gray;
	background-image: url(img/chubg.jpg);
}
#topo {
	width: 90%;
	height: 20%;
	margin: auto;
	background-image: linear-gradient(rgba(100,100,100,0.7),black);
	color: white;
	border-radius:15px;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
	font-size: 25px;
}
#topo h2{
	width:100%;
	color: white;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:black;
	font-size: 17px;
}
#corpo{
	background-color:lightgray;
	width: 71%;
	margin:auto;
	font-family: Times;
	font-size: 15px;
	padding: 15px;
	
}
#borda{
	background-color: white;
	width: 95%;
	margin:auto;
	font-family: Arial Narrow;
	font-size: 15px;
	padding: 10px;
	padding-top: 20px;
	border-radius: 15px;
}
#descricao{
	width: 50%;
	font-family: Verdana;
	font-size: 15px;
}
#imgdivisor{
	width: 31%;
	height:62%;
	position: absolute;
	background-color:gray;
	padding:20px;
	top:199px;
	left:695px;
	border-radius:15px;
}
#img1box{
	width:25%;
	height:55%;
	padding:1.4%;
	position:absolute;
	background-image: linear-gradient(rgba(100,100,100,0.01),black);
	top:36%;
	left:54%;
}
#img2box{
	width:350px;
	height:220px;
	padding:20px;
	position:absolute;
	background-color:rgba(10,10,10,0.2);
	top:500px;
	left:730px;
}

#img1{
	position: absolute;
	top:60%;
	left: 55%;
	
}
#img2{
	position:absolute;
	left:750px;
	top:520px;
}
.checks{
	cursor: pointer;
	font-size: 17px;
	font-family: Arial Narrow;

	
}
#table1{
	background-color: lightgray;
	width:70%;
	font-family: Impact;
	border: 2px solid black;
	font-size:15px;
}
#table{
	background-color: lightgray;
	width:58%;
	font-family: Impact;
	border: 2px solid black;
	font-size:15px;
}

.button{
	background-color: gray;
	color: black;
	width:15%;
	height:10%;
	border-radius:15px;
	font-size: 4px;
	margin-left:23%;
	font-size: 105%;
	font-family:Impact
	
}
.citacao{
	position: absolute;
	font-family: verdana;
	width: 26.8%;
	font-size: 15px;
	padding: 0.5%;
	left: 54%;
	z-index: 1;/*sobrepoe em camadas*/
	top: 34.5%;
	
}
.error{
	position: absolute;
	font-family: impact;
	font-size: 90%;
	color: red;
	margin: auto;
	left: 29%;

}
#footer{
	background-color:gray;
	margin:auto;
	width:71%;
	height:25%;
	padding: 15px;
}


